on:
  workflow_call:
    inputs:
      foo:
        description: Some description
        default: 'bar'
        required: false
        type: string

defaults:
  run:
    shell: bash

jobs:
  cabal-install:
    name: Build hs-hello with cabal-install
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Haskell with haskell-actions/setup
        uses: haskell-actions/setup@v2
        with:
          ghc-version: '9.8'
          cabal-version: '3.10'

      - name: Echo foo
        run: echo ${{ inputs.foo }}

      - name: Build and test hs-hello
        run: |
          cabal update
          cabal configure --enable-coverage
          cabal build hs-hello
          cabal test hs-hello

      - name: Generate coverage report
        uses: 8c6794b6/hpc-codecov-action@v4
        with:
          target: cabal:test-main

      - name: Upload coverage report
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
